body{
    background: url(../images/tube-map-vector-seamless-pattern.jpg);
    display: flex;
    justify-content: center;
}

.jumbotron{
    text-align: center;
}

section{
    margin-bottom: 30px;
}