body{
    background: url(../images/tube-map-vector-seamless-pattern.jpg);
    font-family: 'Mitr', sans-serif;
}

.jumbotron{
    background: steelblue;
    text-align: center;
    padding: 20px;
    margin: 50px 0 50px 0;
}

.display-4{
    font-family: 'Faster One', cursive;
    font-size: 64px;
}

.lead{
    font-size: 24px;
    font-family: 'Baloo', cursive;
    margin-top: 30px;
}

section{
    margin-bottom: 50px;
}

.card{
    border: 1px solid steelblue;
}

.card-header{
    background: steelblue;
    font-size: 20px;
}

.card-body{
    background: lightsteelblue;
}

.table thead > tr > th{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.form-control{
    background: lightsteelblue;
    border-color: black;
}

.form-control:active, .form-control:focus{
    background: rgb(225, 240, 255);
}

#submit{
    color: inherit;
    background: steelblue;
    border: steelblue;
}

@media screen and (max-width: 1200px) {

    .lead{
        font-size: 20px;
    }

}

@media screen and (max-width: 768px) {

    .table{
        font-size: 13px;
    }

}

@media screen and (max-width: 576px) {

    .jumbotron{
        margin: 15px 0 15px 0;
    }

    section{
        margin-bottom: 15px;
    }

}

@media screen and (max-width: 535px) {

    .display-4{
        font-size: 48px;
    }

    .lead{
        font-size: 18px;
    }

    .table{
        font-size: 12px;
    }
    
}

@media screen and (max-width: 535px) {

    .table{
        font-size: 11px;
    }

}

@media screen and (max-width: 491px) {

    .table{
        font-size: 10px;
    }

}

@media screen and (max-width: 469px) {

    .display-4{
        font-size: 40px;
    }

    .lead{
        font-size: 15px;
    }

    .table{
        font-size: 8px;
    }

}

@media screen and (max-width: 419px) {

    .display-4{
        font-size: 32px;
    }

    .lead{
        font-size: 12px;
    }

    .table{
        font-size: 6px;
    }

}

@media screen and (max-width: 419px) {

    .table{
        font-size: 5px;
    }

}

@media screen and (max-width: 353px) {

    .table{
        font-size: 4px;
    }

}

@media screen and (max-width: 329px) {

    .table{
        font-size: 3px;
    }

}